<!DOCTYPE html>
   
<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Enregistre Compte</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
    <script src="/javascripts/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<!-- jQuery -->
<!--Datatables -->

</head>
<body class="flex bg-gray-100 min-h-screen">
     <div class="flex-grow w-full text-gray-800">
        <main  class="ml-24 text-6xl items-center mt-20 w-5/6 shadow-2xl rounded-xl px-1 bg-red-600 text-white h-48">
      <p style="text-align: center;">Compte <%= user %> non Active contacter votre Administrateur</p>
        </main>
      </div>
      
</body>
</html>
   
