<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <title>Document</title>
</head>
<body>
   <div style="position: relative;top: 40vh;left: 5vh;"> <h1 style="font-size: 23px;color: coral;font-weight: 800;text-align: center;"><%= msg %></h1>
   <a style="position: relative;top: 1vh;left: 90vh;width: 200px;" href="/login" class="bg-green-200 mx-10 block text-slate-100 text-sm uppercase rounded shadow-md px-6 py-2 w-24 text-center">Retour</a>
   </div>

</body>
</html>
